# Ambiente virtual
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Playwright
playwright-report/
test-results/
trace.zip

# Logs
*.log

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env